In [ ]:
import os
import pandas as pd

In [ ]:
dict_counts = {}

# Loop over all country_counts CSV files in the folder
for file in os.listdir("../data/country_counts/"):
    if file.endswith("../data/country_counts/country_counts.csv"):
        df = pd.read_csv(file)

        df.rename(columns={"Unnamed: 0": "countrycode", "countrycode": "count"}, inplace=True)
        
        # Sum counts per country in the current file
        country_sums = df.groupby("countrycode")["count"].sum()
        
        # Add to the cumulative dictionary
        for country, count in country_sums.items():
            if country not in dict_counts:
                dict_counts[country] = count
            else:
                dict_counts[country] += count

In [4]:
df_dict = pd.DataFrame(list(dict_counts.items()), columns=["country", "count"])

In [11]:
df_dict["percentage"] = (df_dict["count"]/sum(df_dict["count"])).round(5)

In [12]:
df_dict.sort_values(by="count", ascending=False).head(100)

    country      count  percentage
213      US  224337552     0.41295
72       GB   34134473     0.06283
30       BR   24103087     0.04437
178      RU   18873444     0.03474
37       CA   17553841     0.03231
..      ...        ...         ...
28       BO     153689     0.00028
107      KE     150105     0.00028
138      MN     147248     0.00027
108      KG     136893     0.00025
173      PY     134448     0.00025

[100 rows x 3 columns]

In [14]:
df_dict.sort_values(by="count", ascending=False)[["country", "percentage"]].head(100).to_csv("./table_counts.csv", index=False)